hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.affix {
    top: 20px;
    z-index: 9999 !important;
  }
#content {
    text-align:center;
}

.justified{
    text-align: justify;
}

#language-selector{
    float:right;
}

#contact-me{
    /* position:fixed; */
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    min-width: 20px;
    width: 70%;
    min-height: 200px;
    height: 60%;
    border-style: solid;
    /* position: fixed; */
}

#profile{
    margin-top: 2%;
}

#profile-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border-color: grey;
    border-style: solid;
}

#trivia-list {
     display: inline-block;
 }

#trivia-list li {
    list-style-type: disc;
 }

 #contact-table{
     margin: 0 auto;
     /* border: 1px solid; */
     width: 100%;
  }

.section {
    text-align: justify;
    text-justify:auto;
 }

.section-title {
    margin-bottom: 15px;
}

.section-description {
    text-align: left;
}

@media only screen and (min-width: 1100px){
    #trivia-list li {
        float: left;
        width: 50%;
        list-style-type: disc;
    }
}