hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#content {
    text-align:center;
}

#language-selector{
    float:right;
}

#profile-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#trivia-list {
     display: inline-block;
 }

#trivia-list li {
    /* float: left; */
    list-style-type: disc;
    /* width: 50%; */
 }

.section {
    text-align: justify;
    text-justify:auto;
 }

.section-title {
    margin-bottom: 15px;
}

.section-description {
    text-align: left;
}

@media only screen and (min-width: 1100px){
    #trivia-list li {
        float: left;
        width: 50%;
        list-style-type: disc;
    }
}