hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.trivia-list {
     display: inline-block;
 }

 .trivia-list li {
    float: left;
    list-style-type: disc;
    width: 50%;
 }

.description {
    text-align: left;
}